# Ignore raw data and large files
data/
results/
*.h5
*.csv
*.nc
#(Add geospatial data types)

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Conda environments
.env/
env/
.conda_env/
*.conda

# Logs and misc
*.log
*.tmp

